@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lato-Thin";
  src: url("./assets/fonts/Lato-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
