@import "./fonts.css";

* {
  margin: 0;
}

.header {
  width: 100%;
  height: 89px;
  margin-bottom: 6px;
  display: flex;
  background-color: #2d303a;
  color: white;
  justify-content: space-between;
  box-shadow: 0px 6px 0px 0px #323746;
}

.header-logo {
  margin-left: 41px;
  font-size: 12.5px;
  line-height: 88px;
  letter-spacing: -0.9px;
  font-family: "Lato";
}

.header-logo-red_star {
  color: #f06c64;
  margin-left: -4px;
}

.header_nav {
  margin-right: 38px;
  margin-top: 42px;
  display: flex;
  font-family: "Lato-Thin";
  font-size: 11.7px;
  letter-spacing: 0.2px;
  font-weight: 700;
}

.header_nav-item-dot {
  width: 30px;
  text-align: center;
  opacity: 0.2;
}

.header_nav-item-current {
  color: #f06c64;
  text-decoration: none;
  cursor: default;
}

.header_nav-item {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.header_nav-item:hover {
  color: #f06c64;
}

.slider {
  width: 100%;
  height: 594px;
  position: relative;
  background-color: #f06c64;
  box-shadow: 0px 6px 0px 0px #ea676b;
}

.slider-controls {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.slider-controls :hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slider-controls-left,
.slider-controls-right {
  width: 98px;
  background-image: url("./assets/left.svg");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 1px);
  background-position-y: calc(50% - 3px);
}

.slider-controls-right {
  background-image: url("./assets/right.svg");
}

.slider_content {
  width: calc(100% - 98px - 98px);
  margin: 0 auto;
  position: relative;
}

.phone_v {
  width: 215px;
  height: 458px;
  position: absolute;
  top: 53px;
  left: 14px;
  background-color: white;
  border-radius: 27px;
}
