@import "./fonts.css";

@keyframes from_right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

@keyframes to_left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes from_left {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes to_right {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

.display_block {
  display: block !important;
}

.overflow-hidden {
  overflow: hidden;
}

* {
  margin: 0;
  scroll-behavior: smooth;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #2d303a;
  z-index: 2;
}

.header--content {
  display: flex;
  color: white;
  justify-content: space-between;
}

.header--logo,
.nav--logo {
  margin-left: 40px;
  font-size: 25.4px;
  line-height: 89px;
  letter-spacing: -0.8px;
  font-family: "Lato-Semibold";
}

.header--logo::after,
.nav--logo::after {
  content: "*";
  color: #f06c64;
}

.nav {
  margin-right: 40px;
  margin-top: 42px;
  font-family: "Lato-Bold";
  font-size: 11.7px;
  font-weight: 700;
  background-color: #2d303a;
}

.nav--mobile {
  display: none;
  height: calc(6.1vw + 42.3px);
  position: absolute;
  z-index: 1;
  align-items: center;
}

.nav--burger {
  height: 25px;
  width: 25px;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s;
}

.nav--burger-active {
  transform: rotateZ(90deg);
  transition: transform 0.3s;
}

.burger--line,
.burger--line::before,
.burger--line::after {
  width: 25px;
  height: 2px;
  position: absolute;
  top: 3px;
  background: #ffffff;
  border-radius: 5px;
  display: block;
}

.burger--line::before,
.burger--line::after {
  content: "";
}

.burger--line::before {
  top: 8px;
}

.burger--line::after {
  top: 16px;
}

.nav--logo {
  display: none;
  margin-left: 28.5px;
}

.nav_item {
  display: inline;
  margin-left: 28px;
  position: relative;
  color: white;
  user-select: none;
  cursor: pointer;
}

.nav_item::before {
  content: "·";
  opacity: 0.2;
  text-align: center;
  width: 28px;
  position: absolute;
  left: -28px;
}

.nav_item:first-child::before {
  content: "";
}

.nav_item:hover {
  color: #f06c64;
}

.nav_item--current {
  color: #f06c64;
  cursor: default;
}

.header--stripe {
  width: 100%;
  height: 6px;
  background-color: #323746;
}

.slider {
  width: 100%;
  height: 600px;
  position: relative;
}

.slider-controls {
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.slider-controls :hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.slider-controls-left,
.slider-controls-right {
  width: 98px;
  background-image: url("./assets/slider/left-slide.svg");
  background-repeat: no-repeat;
  background-position-x: calc(50% + 1px);
  background-position-y: calc(50% - 6px);
  cursor: pointer;
}

.slider-controls-right {
  background-image: url("./assets/slider/right-slide.svg");
}

.slider--content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide--wrapper {
  width: calc(1020px - 2 * 98px);
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.slide--hidden {
  display: none;
}

.slide1,
.slide2 {
  width: 100%;
  height: 100%;
  position: absolute;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
}

.slide1 {
  background-color: #f06c64;
}

.slide2 {
  background-color: #648bf0;
}

.slide2--content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide2--phone1,
.slide2--phone3 {
  width: 156px;
  height: 314px;
  background-image: url("./assets/slider/slider2-small-phone.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.5;
}

.slide2--phone2 {
  width: 255px;
  height: 513px;
  margin: 0 -26px 0 -16px;
  background-image: url("./assets/slider/slider2-big-phone.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.from_left,
.from_right,
.to_right,
.to_left,
.active_slide {
  display: block;
}

.from_left {
  animation-name: from_left;
}

.to_left {
  animation-name: to_left;
}

.from_right {
  animation-name: from_right;
}

.to_right {
  animation-name: to_right;
}

.phone_v,
.phone_h {
  width: 215px;
  height: 458px;
  position: absolute;
}

.phone_v {
  top: 53px;
  left: 14px;
}

.phone_h {
  top: 53px;
  left: 450px;
}

.phone_v--shadow,
.phone_h--shadow {
  width: 111.4%;
  height: 105.4%;
  position: absolute;
  background-image: url("./assets/slider/phone-vertical-shadow.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.phone_h--shadow {
  transform: rotate(-90deg) scaleX(-1);
}

.phone_v--body,
.phone_h--body {
  width: 218px;
  height: 461px;
  position: absolute;
  background-image: url("./assets/slider/phone-body.svg");
  background-size: 100% 100%;
}

.phone_v--body {
  top: -1px;
  left: -2px;
}

.phone_h--body {
  top: -2px;
  left: -3px;
  transform: rotate(90deg);
}

.phone_v--screen,
.phone_h--screen {
  box-sizing: border-box;
  position: absolute;
  background-repeat: no-repeat;
  border: 3px solid #c6c6c6;
  border-radius: 3px;
}

.phone_v--screen {
  width: 194px;
  height: 339px;
  top: 62px;
  left: 11px;
  background-image: url("./assets/slider/phone_v_screen-bg.png");
  background-size: 308.5%;
  background-position: 3.6% 54.7%;
}

.phone_h--screen {
  width: 339px;
  height: 194px;
  top: 132px;
  left: -66px;
  background-image: url("./assets/slider/phone_h_screen-bg.png");
  background-size: 174.4%;
  background-position: 50.4% 30.3%;
}

.phone--screen-off {
  background-color: #000000;
  background-image: none;
}

.phone--button,
.phone--button {
  width: 42px;
  height: 42px;
  position: absolute;
  border-radius: 50%;
  transition: background-color 0.3s;
  cursor: pointer;
  z-index: 1;
}

.phone_v--button {
  left: calc(50% - 21px);
  bottom: 8px;
}

.phone_h--button {
  top: calc(50% - 21px);
  left: -114px;
}

.phone_v--button:active,
.phone_h--button:active {
  background-color: rgba(0, 0, 0, 0.333);
  transition: background-color 0.2s;
}

.slider--stripe {
  width: 100%;
  height: 6px;
  position: absolute;
  bottom: 0;
  background-color: #ea676b;
}

.services {
  width: 100%;
  background-color: #f2f2f2;
}

.services--content {
  padding: 68px 40px 62px;
  box-sizing: border-box;
}

.services-title {
  font-family: "Lato-Black";
  font-size: 30px;
  letter-spacing: -0.2px;
  color: #666d89;
  font-weight: 900;
  line-height: 18px;
}

.services-text {
  margin-top: 27px;
  font-family: "Lato-Light";
  font-size: 18px;
  color: #767e9e;
  font-weight: 300;
  text-align: justify;
  line-height: 30px;
}

.services-badges {
  width: 100%;
  margin: 45px 0 0 1px;
  display: grid;
  grid-template-columns: repeat(3, 303px);
  grid-column-gap: 16px;
  grid-row-gap: 32px;
}

.badge {
  display: grid;
  grid-template-columns: 59px 221px;
  grid-template-rows: 28px;
  grid-column-gap: 21px;
}

.badge-icon {
  width: 55px;
  height: 55px;
  margin-top: 2px;
  grid-row-start: 1;
  grid-row-end: 3;
  border: 2px solid #666d89;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.badge-title {
  font-family: "Lato-Black";
  font-size: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  line-height: 18px;
}

.badge-text {
  font-size: 12.1px;
  color: #767e9e;
  font-family: "Lato-Regular";
  font-weight: 400;
  text-align: justify;
  line-height: 21px;
  overflow: hidden;
}

.pen {
  background-image: url("./assets/services/pen.svg");
  background-position: calc(50% + 1px) calc(50% + 1px);
}

.bulb {
  background-image: url("./assets/services/bulb.svg");
}

.heart {
  background-image: url("./assets/services/heart.svg");
}

.phone {
  background-image: url("./assets/services/phone.svg");
}

.bubble {
  background-image: url("./assets/services/bubble.svg");
  background-position: calc(50% + 1px) calc(50% + 1px);
}

.star {
  background-image: url("./assets/services/star.svg");
}

.services--stripe {
  width: 100%;
  height: 6px;
  background-color: #ffffff;
}

.portfolio {
  width: 100%;
  background-color: #2d303a;
}

.portfolio--content {
  padding: 68px 35px 51px;
  box-sizing: border-box;
}

.portfolio--title {
  margin-bottom: 27px;
  margin-left: 5px;
  line-height: 18px;
  font-size: 30px;
  color: #666d89;
  font-family: "Lato-Black", Arial, sans-serif;
  letter-spacing: -0.2px;
}

.portfolio--text {
  margin-left: 5px;
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-Light", Arial, sans-serif;
  font-weight: 300;
  text-align: left;
}

.portfolio--nav_ul {
  margin-top: 11px;
  padding-left: 6px;
}

.portfolio--nav_li,
.portfolio--nav_li-active {
  display: inline-block;
  margin-right: 5.9px;
  border: 1px solid #666d89;
  border-radius: 5px;
  color: #767e9e;
  font-size: 12px;
  line-height: 20px;
  font-family: "Lato-Regular", Arial, sans-serif;
  user-select: none;
}

.portfolio--nav_li:hover {
  cursor: pointer;
  color: #cece7e;
  border-color: #cece7e;
}

.portfolio--nav_li-active {
  color: #dedede;
  border-color: #c5c5c5;
}

.portfolio--nav_span {
  margin: 0 6px 0 6.6px;
  letter-spacing: -0.1px;
}

.images {
  height: 622px;
  padding: 19px 5px 0 5px;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-gap: 20px;
  align-content: start;
  overflow: hidden;
}

.images--item {
  height: 0;
  padding-top: 85%;
  background-color: #464b5e;
  background-position: 25% 25%;
  background-size: 101.595%;
}

.images--item-selected {
  outline: 5px solid #f06c64;
}

.image1 {
  background-image: url("./assets/images_block/Project\ \(1\).png");
  background-position-x: 50%;
}

.image2 {
  background-image: url("./assets/images_block/Project\ \(2\).png");
}

.image3 {
  background-image: url("./assets/images_block/Project\ \(3\).png");
}

.image4 {
  background-image: url("./assets/images_block/Project\ \(4\).png");
}

.image5 {
  background-image: url("./assets/images_block/Project\ \(5\).png");
  background-position-x: 50%;
}

.image6 {
  background-image: url("./assets/images_block/Project\ \(6\).png");
}

.image7 {
  background-image: url("./assets/images_block/Project\ \(7\).png");
}

.image8 {
  background-image: url("./assets/images_block/Project\ \(8\).png");
}

.image9 {
  background-image: url("./assets/images_block/Project\ \(9\).png");
  background-position-x: 50%;
}

.image10 {
  background-image: url("./assets/images_block/Project\ \(10\).png");
}

.image11 {
  background-image: url("./assets/images_block/Project\ \(11\).png");
}

.image12 {
  background-image: url("./assets/images_block/Project\ \(12\).png");
}

.portfolio--stripe {
  width: 100%;
  height: 6px;
  background-color: #323746;
}

.about {
  width: 100%;
  background-color: #f2f2f2;
}

.about--content {
  padding: 66px 40px 67px;
  box-sizing: border-box;
}

.about--title {
  margin: 2px 0 27px 0;
  line-height: 18px;
  font-size: 30px;
  color: #666d89;
  font-family: "Lato-Black", Arial, sans-serif;
  letter-spacing: -0.2px;
}

.about--text {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato-Light", Arial, sans-serif;
  letter-spacing: 0.15px;
}

.profiles {
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, 31.95%);
  grid-column-gap: 2.1%;
}

.profile--img {
  width: 100%;
}

.profile--second_img {
  margin-left: -1px;
}

.profile--name {
  margin-top: 13px;
  margin-left: -1px;
  line-height: 18px;
  font-size: 18px;
  color: #666d89;
  font-family: "Lato-Black", Arial, sans-serif;
  letter-spacing: -0.1px;
  white-space: nowrap;
  overflow: hidden;
}

.profile--description {
  margin-top: 10px;
  margin-left: -1px;
  line-height: 21.9px;
  font-size: 12px;
  letter-spacing: 0px;
  color: #767e9e;
  font-family: "Lato-Regular", Arial, sans-serif;
  text-align: justify;
}

.profile--links {
  margin-top: 24px;
  display: flex;
}

.first_links {
  margin-left: 1px;
}

.about--stripe {
  width: 100%;
  height: 6px;
  background-color: #ffffff;
}

.getaquote {
  background-color: #f06c64;
}

.getaquote--content {
  padding: 67px 40px 58px;
  box-sizing: border-box;
}

.getaquote--title {
  margin-bottom: 26px;
  line-height: 20px;
  font-size: 30px;
  font-family: "Lato-Black", Arial, sans-serif;
  letter-spacing: -0.2px;
  color: #f0d8d9;
}

.getaquote--text {
  line-height: 30px;
  font-size: 18px;
  font-family: "Lato-Light", Arial, sans-serif;
  color: #f0d8d9;
  text-align: justify;
}

.getaquote--twocol {
  margin-top: 44px;
  display: grid;
  grid-template-columns: 619px 1fr;
  grid-column-gap: 21px;
}

.getaquote--form {
  height: 418px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.form--text_input,
.form--text_area,
.form--button {
  padding: 10px 14.6px 14px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  background-color: #d6564f;
  font-size: 14px;
  font-family: "Lato-Light", Arial, sans-serif;
  color: #f0d8d9;
  outline-color: #f0d8d9;
}

.form--text_input::placeholder,
.form--text_area::placeholder {
  font-family: "Lato-Regular", Arial, sans-serif;
  font-size: 12px;
  color: rgba(244, 140, 143, 255);
}

.form--text_input,
.form--button {
  height: 38px;
}

.form--text_area {
  height: 202px;
  resize: none;
}

.form--button {
  font-family: "Lato-Black", Arial, sans-serif;
  background-color: #f0d8d9;
  color: #000000;
}

.form--button:hover {
  background-color: #f0b8ba;
  cursor: pointer;
}

.form--button:active {
  background-color: #f0868a;
}

.modal--background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 7;
}

.modal {
  width: 270px;
  padding: 40px 20px;
  background-color: #ffffff;
  border-radius: 15px;
}

.modal--title {
  margin-bottom: 15px;
  text-align: center;
  font-family: "Lato-Black", Arial, sans-serif;
  font-size: 20px;
}

.modal--text {
  margin-bottom: 5px;
  font-family: "Lato-Light", Arial, sans-serif;
  font-size: 16px;
}

.modal--close_btn {
  display: block;
  padding: 2px 20px;
  margin: 15px auto 0;
}

.contact_info--title {
  margin-bottom: 9px;
  line-height: 19px;
  font-size: 18px;
  letter-spacing: -0.1px;
  color: #f0d8d9;
  font-family: "Lato-Black", Arial, sans-serif;
}

.contact_info--text {
  margin-left: -0.4px;
  font-size: 12px;
  line-height: 22px;
  color: #f0d8d9;
  letter-spacing: -0.1px;
  font-family: "Lato-Regular", Arial, sans-serif;
  text-align: justify;
}

.contacts_list {
  margin-top: 19px;
  padding: 0;
  color: #f0d8d9;
  list-style-type: none;
}

.contacts_list--li {
  display: flex;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato-Regular", Arial, sans-serif;
  letter-spacing: -0.1px;
}

.contacts_list--a {
  display: flex;
  color: inherit;
  text-decoration: none;
}

.contacts_list--span {
  margin-left: 10px;
}

.contacts_list--ico-map,
.contacts_list--ico-tel,
.contacts_list--ico-mail {
  width: 13px;
  height: 20px;
  background-position-x: 50%;
  background-repeat: no-repeat;
}

.contacts_list--ico-map {
  background-image: url("./assets/contact_info/location.png");
  background-position-y: calc(50% + 1px);
}

.contacts_list--ico-tel {
  background-image: url("./assets/contact_info/phone.png");
  background-position-y: 50%;
}

.contacts_list--ico-mail {
  background-image: url("./assets/contact_info/mail.png");
  background-position-y: calc(50% + 2px);
}

.getaquote--stripe {
  width: 100%;
  height: 6px;
  background-color: #ea676b;
}

.footer {
  padding: 22px 32px 22px 42px;
  background-color: #2d303a;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.footer--copyright {
  margin-top: 6px;
  color: #666d89;
  font-family: "Lato-Regular", Arial, sans-serif;
  line-height: 20px;
  font-size: 12px;
  letter-spacing: -0.2px;
}

.footer--social_links {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.ico_border {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  display: table;
  border: 1.4px solid #69708b;
  border-radius: 50%;
}

.ico_border:hover {
  border-color: #000000;
}

.ico {
  width: 100%;
  height: inherit;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
}

.ico:hover {
  opacity: 1;
  background-color: #000000;
}

.facebook_ico {
  background-image: url("./assets/social_media/facebook.png");
}

.google_ico {
  background-image: url("./assets/social_media/google.png");
}

.twitter_ico {
  background-image: url("./assets/social_media/twitter.png");
}

.linkedin_ico {
  background-image: url("./assets/social_media/linkedin.png");
}

.slider,
.services,
.portfolio,
.about
/* .getaquote */
 {
  display: none;
}

@media screen and (max-width: 1019px) {
  .wrapper {
    width: 100%;
  }

  /* .slider */

  .slider {
    height: 58.8vw;
  }

  .slider-controls-left,
  .slider-controls-right {
    width: 9.6vw;
    background-size: 16.3%;
  }

  .slide--wrapper {
    width: calc(100% - 2 * 9.6vw);
  }

  .slider--stripe {
    height: 0.59vw;
  }

  .phone_v,
  .phone_h {
    top: 8.9%;
    width: 26.1%;
    height: 76.3%;
  }

  .phone_v {
    left: 1.7%;
  }

  .phone_h {
    left: 54.6%;
  }

  .phone_v--body,
  .phone_h--body {
    width: 103.7%;
    height: 100.7%;
  }

  .phone_v--body {
    top: -0.2%;
    left: -2.1%;
  }

  .phone_v--screen,
  .phone_h--screen {
    border-width: 0.3vw;
  }

  .phone_v--screen {
    width: 89.4%;
    height: 73.8%;
    top: 13.7%;
    left: 5.8%;
  }

  .phone_h--screen {
    width: 155%;
    height: 41%;
    top: 28.8%;
    left: -30.7%;
  }

  .phone--button {
    width: 19.6%;
    height: 9.2%;
  }

  .phone_v--button {
    left: 40%;
    bottom: 1.7%;
  }

  .phone_h--button {
    top: 45.3%;
    left: -52%;
  }

  .slide2--phone1,
  .slide2--phone3 {
    width: 18.94%;
    height: 52.35%;
  }

  .slide2--phone2 {
    width: 30.95%;
    height: 85.5%;
    margin: 0 -3.16% 0 -1.95%;
  }

  /* .services */

  .services--content {
    padding: 48px 40px 50px;
  }
  .services--stripe {
    display: none;
  }

  .services-badges {
    grid-template-columns: repeat(2, 303px);
    grid-row-gap: 51px;
    grid-column-gap: calc(100% - 635px);
  }

  /* .portfolio */

  .images {
    height: calc(
      3.5 * 20px + 4 * 0.85 * (100vw - 2 * 5px - 2 * 35px - 2 * 20px) / 3
    );
    grid-template-columns: repeat(3, 1fr);
  }

  .portfolio--stripe {
    height: 7.6px;
  }

  /* .about */

  .about--content {
    padding: 61px 40px 75px;
  }

  .about--stripe {
    display: none;
  }

  /* .getaquote */

  .getaquote--content {
    padding: 61px 37px 39px 39px;
  }

  .getaquote--twocol {
    margin-top: 22px;
    grid-template-columns: 63.88% 1fr;
    grid-column-gap: 29px;
  }

  .getaquote--form {
    height: 402px;
  }
}

@media screen and (max-width: 767px) {
  .header--logo {
    margin: 0 auto;
  }

  .header--logo,
  .nav--logo {
    font-size: 19.6875px;
    line-height: calc(6.1vw + 42.3px);
  }

  .nav {
    display: none;
    height: 100%;
    width: 278px;
    margin: 0;
    position: fixed;
    font-size: 24px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4), 0 0 0 200vw rgba(0, 0, 0, 0.5);
  }

  .nav--mobile {
    display: flex;
  }

  .nav--logo- {
    opacity: 1;
    transition: opacity 0.3s;
  }

  .nav--ul {
    margin: 232px 0 0 71px;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .nav_item {
    margin: 27px 0 0;
  }

  .nav_item::before {
    content: none;
  }

  /* .services */

  .services--content {
    padding: 34px 32px 28px;
  }

  .services-badges {
    margin-left: -4px;
    grid-template-columns: repeat(1, auto);
    grid-row-gap: 27px;
    justify-content: center;
  }

  /* .portfolio */

  .portfolio--content {
    padding: 51px 25px 20px;
  }

  .images {
    height: calc(
      5.7 * 14px + 6 * 0.85 * (100vw - 2 * 5px - 2 * 25px - 13px) / 2
    );
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 14px;
    grid-column-gap: 13px;
  }

  .portfolio--stripe {
    display: none;
  }

  /* .about */

  .about--content {
    padding: 42px 30px 45px;
  }

  .profiles {
    grid-template-columns: repeat(1, 100%);
    grid-row-gap: 34px;
  }

  /* .getaquote */

  .getaquote--content {
    padding: 52px 30px 42px;
  }

  .getaquote--stripe {
    display: none;
  }

  .getaquote--twocol {
    /* margin-top: 22px; */
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
  }
}

@media screen and (max-width: 374px) {
  .header--logo,
  .nav--logo {
    line-height: 65px;
  }

  .nav--mobile {
    height: 65px;
  }

  .wrapper,
  .header,
  .slider,
  .services,
  .portfolio,
  .about,
  .getaquote {
    min-width: 320px;
  }

  .slider {
    min-height: 188.156px;
  }

  .badge {
    grid-template-columns: 59px auto;
  }

  .images {
    height: 710px;
  }
}
